.jumbotron {
  padding: 3rem 0 3rem 0;
  margin-bottom: 2rem;
  background-color: #512da8;
  color: floralwhite;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px; }

.footer {
  padding: 2em;
  background-color: silver; }

.address {
  font-size: 90%; }

.text-justify {
  text-align: justify; }

.text-decor-none,
.text-decor-none * {
  text-decoration: none; }

body {
  padding: 50px 0 0 0; }

.navbar-dark {
  min-height: 50px;
  background-color: #512da8; }

.nav-tabs button {
  font-weight: bold; }

.tab-content {
  padding: 1em;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; }

.carousel {
  background-color: #9575cd; }

.carousel-item {
  height: 250px; }

.carousel-item img {
  min-height: 250px; }

.btn:focus {
  outline: none !important;
  box-shadow: none; }

.modal-header {
  background-color: #512da8;
  color: floralwhite; }

.modal-body {
  background-color: #D1C4E9; }

.btn-close-white {
  color: floralwhite;
  opacity: 1; }
